<% if taxon.children.length != 0 %>
  <ul>
    <% taxon.children.each do |child| %>
      <li id="<%= child.id %>">
        <a href="#"><%= child.name %></a> 
  	  <% unless child.product_group.nil? %>
  	  	-- <%= child.product_group.name %>
  	  <% end %>
        <% if child.children.length > 0 %>
          <%= render :partial => "taxon", :locals => {:taxon => child} %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
